.post {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;

	& h1 {
		margin: 21px 21px 12px 21px;
	}

	& h2 {
		margin: 18px 21px 9px 21px;
	}

	& p {
		margin: 0px 21px 12px 21px;
	}

	& a {
		color: black;
	}

	& img {
		display: block;
		margin: 0 auto;
	}

	& video {
		display: block;
		margin: 0 auto;
	}

	& figcaption {
		text-align: center;
		color: gray;
	}
}
